<%= link_to user_univ_class_likes_path(@user, @univ_class), method: :delete, id: "like-button-delete", remote: true do %>
    <i class="fas fa-star"></i><span style="font-size:14px;color:yellow;margin-left:10px">Remove from Your List!</span>
  <% end %>