<%= link_to user_univ_class_likes_path(@user, @univ_class), method: :post, remote:true, id: "like-button-post" do %>
    <i class="far fa-star"></i><span style="font-size:14px;color:yellow;margin-left:10px">Add to Your List!</span>
<% end %>