<div class="container">
  <table class="table table-bordered" id="user-timeline-table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th style="width:220px;">Mon</th>
        <th style="width:220px;">Tues</th>
        <th style="width:220px;">Wed</th>
        <th style="width:220px;">Thurs</th>
        <th style="width:220px;">Fri</th>
      </tr>
    </thead>
    <tbody class="user-timeline">
      <tr>
        <th scope="row">1</th>
        <td id='月1'></td>
        <td id='火1'></td>
        <td id='水1'></td>
        <td id='木1'></td>
        <td id='金1'></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td id='月2'></td>
        <td id='火2'></td>
        <td id='水2'></td>
        <td id='木2'></td>
        <td id='金2'></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td id='月3'></td>
        <td id='火3'></td>
        <td id='水3'></td>
        <td id='木3'></td>
        <td id='金3'></td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td id='月4'></td>
        <td id='火4'></td>
        <td id='水4'></td>
        <td id='木4'></td>
        <td id='金4'></td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td id='月5'></td>
        <td id='火5'></td>
        <td id='水5'></td>
        <td id='木5'></td>
        <td id='金5'></td>
      </tr>
    </tbody>
  </table>
</div>

<style>
#user-timeline-table {
  width: 0%;
}
</style>

<script>
  // javascriptでrailsオブジェクトは、hashになる！！json!
  gon.user_univ_class_details.forEach(function(univ_class_detail, index){
    var search_id = univ_class_detail["day"] + univ_class_detail["period"];
    var element = document.getElementById(search_id);
    var class_id = String(gon.user_univ_classes[index].id)
    var class_code = gon.user_univ_classes[index].class_code;
    var subject_name = gon.user_univ_classes[index].subject_name;
    var professor = gon.user_univ_classes[index].professor;
    var user_id = String(gon.user_id)
    var onclick = String(`window.location="\/users\/${user_id}\/univ_classes\/${class_id}"`);
    // <img class='card-img-top' src='http://weknowyourdreams.com/images/red/red-02.jpg' alt='Card image cap'>  \
    var insertText = "<div class='card text-white bg-danger mb-3', onclick=" + onclick + " , role='link', style='max-width: 19rem;'> \ <div class='card-body'> \
                      <h4 class='card-title text-center'> " + subject_name + "</h4> \ <ul> \
                      <tr> <td text-align='justify'> class code: <font size=2>" + class_code + "</font> \
                      <tr> <td text-align='justify'> professor: <font size=2>" + professor + "</font> \
                      </ul> \ </div> \ </div>"
    element.insertAdjacentHTML('afterbegin', insertText)
  });
</script>
